/*----------------------------------------------------SHARED STYLES--*/
body {
    background-image: url("../images/background.jpg");
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-container{
    width: 90%;
    min-height: 400px;
    min-width: 300px;
    border-radius: 30px;
    text-align: center;
}

.logo {
    font-family: 'Faster One';
    border: 5px solid #000;
    border-radius: 30px;
    display: inline;
    padding: 0 5px 5px 5px;
}

.option-btn {
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    text-align: center;
    font-family: Bungee;
    box-shadow: 4px 5px 1px #000000bf;
    border: none;
    color: #fff;
    padding: 10px;
    min-width: 175px;
}
/*----------------------------------------------------INDEX.HTML--*/
#welcome-to{
    font-family: bungee;
    font-size: 1.2rem;
    letter-spacing: 5px;
    margin-top: 10px;
}

.tagline {
    font-family: 'Bungee Shade';
    font-size: 0.8rem;
    margin-top: 20px;
}

#recommended {
    font-family: Bungee;
    font-size: 0.7rem;
    display: inline;
    position: relative;
    bottom: 20px;
}

.modal-container {
    background-color: #FFF7B0;
    border-radius: 30px;
}
.how-to-play h4 {
    font-family: Bungee;
    font-size: 2rem;
    text-align: center;
}

.how-to-play p {
    font-family: 'DM mono';
    text-align: center;
}

/*----------------------------------------------------DIFFICULTY.HTML--*/


/*----------------------------------------------------COLORS--*/
.game-yellow {
    background-color: #FFE922;
}

.btn-blue {
    background-color: #09AEAE;
}
.btn-red {
    background-color: #CF1736;
}
.btn-green {
    background-color: #26A612;
}
.modal-bg {
    background-color: #392092bf;
}

/*----------------------------------------------------MEDIA QUERIES--*/
@media (min-width: 576px) {
    .welcome-container {
        width: 520px;
    }
}

@media (min-width: 768px) {
    .welcome-container {
        width: 640px;
    }
    .logo {
        padding: 0 15px 5px 15px;
        font-size: 4rem;
    }
    .tagline {
        font-size: 1.4rem;
        margin: 30px 0;
    }
    .option-btn {
        margin: 40px auto;
        width: 260px;
        font-size: 1.5rem;
    }
    #recommended {
        bottom: 35px;
    }
    .how-to-play h4 {
        font-size: 2.8rem;
    }

    .how-to-play p {
        font-size: 1.5rem;
        padding: 10px;
    }
}

@media (min-width: 992px) {
    .welcome-container {
        width: 800px;
        height: 700px;
    }
    #welcome-to {
        font-size: 2rem;
        letter-spacing: 10px;
        margin: 20px;
    }

    .logo {
        padding: 0 25px 5px 25px;
        font-size: 6rem;
        border-width: 8px;
    }
    .option-btn {
        font-size: 2.2rem;
        width: 400px;
    }
}

@media (min-width: 1200px) {
    .welcome-container {
        width: 1000px;
    }
    .tagline {
        font-size: 1.8rem;
        margin: 30px 0
}