@font-face {
    font-family: 'digital-7regular';
    src: 
        url('../fonts/digital-7.ttf') format('ttf'),
        url('../fonts/digital-7-webfont.woff2') format('woff2'),
        url('../fonts/digital-7-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*-------------------------------------------------SHARED STYLES--*/
body {
    background-image: url("../images/background.jpg");
}

button {
    font-family: Bungee, Impact, sans-serif;
    text-transform: uppercase;
}

.text {
    font-family: 'DM mono', "Lucida Console", monospace;
}

.header {
    font-family: Bungee, Impact, sans-serif;
    text-transform: uppercase;
}

.general-container {
    height: 50%;
    min-height: 280px;
    max-height: 350px;
    width: 80%;
    min-width: 260px;
    max-width: 650px;
    border-radius: 30px;
    -webkit-box-shadow: inset 0px 0px 6px 3px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 6px 3px rgba(0,0,0,1);
}

.logo {
    font-family: 'Faster One', Impact, sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    border: 5px solid #000;
    border-radius: 30px;
    width: 100%;
    margin-bottom: 4px;
}

.option-btn, .difficulty-btn {
    font-family: Bungee, Impact, sans-serif;
    text-transform: uppercase;
    border-radius: 15px;
    text-align: center;
    -webkit-box-shadow: 4px 5px 1px #000000bf;
            box-shadow: 4px 5px 1px #000000bf;
    border: none;
    color: #fff;
    min-width: 175px;
}

.menu-link, .diff-menu-link {
    font-family: Bungee, Impact, sans-serif;     
    background-color: #FFF7B0;
    color: #000;
    width: 70px;
    height: 30px;
    padding: 7px 0;
    border-radius: 15px;
    font-size: 0.6rem;
    -webkit-box-shadow: 2px 3px 1px #000000bf;
            box-shadow: 2px 3px 1px #000000bf;
}

.menu-link:hover, .diff-menu-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #09AEAE;
    /* TRANSITION EFFECT COPIED FROM BOOTSTRAP */
    -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out;
    -o-transition: color .15s ease-in-out,background-color .15s ease-in-out;
    transition: color .15s ease-in-out,background-color .15s ease-in-out;
}

/*-------------------------------------------------INDEX.HTML--*/
.tagline {
    font-family: 'Bungee Shade', "Lucida Console", monospace;
    font-size: 0.7rem;
    letter-spacing: 1px;
}

#welcome-to {
    font-size: 0.8rem;
    letter-spacing: 5px;
    margin-top: 5px;
}

#recommended {
    font-size: 0.7rem;
    position: relative;
    top: 5px;
}

.modal-container {
    background-color: #FFF7B0;
    border-radius: 30px;
}

/*--------------------------------------------DIFFICULTY.HTML--*/
.select-difficulty {
    font-size: 1rem;
    margin: 5px auto;
}

.difficulty-btn {
    font-size: 0.6rem;
 }

.difficulty-description {
    font-size: 0.6rem;
    font-weight: bold; 
    margin-top: 5px;
}

/*--------------------------------------------------GAME.HTML--*/
#game-logo {
    margin-top: 10px;
}

.game-btn {
    border-radius: 15px;
    width: 85%;
    height: 90%;
    -webkit-box-shadow: 4px 5px 1px #000000bf;
            box-shadow: 4px 5px 1px #000000bf;
}

.level-screen {
    background-color: #CECECE;
    font-family: digital-7regular, "Courier New", Courier, monospace;
    font-size: 0.8rem;
    text-transform: uppercase;
    -webkit-box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 0;
    border-radius: 15px;
    height: 20%;
}

.start-btn {
    color: #fff;
    background-color: #771BBF;
    width: 70px;
    height: 30px;
    padding: 0;
    border-radius: 15px;
    font-size: 0.6rem;
    -webkit-box-shadow: 4px 5px 1px #000000bf;
            box-shadow: 4px 5px 1px #000000bf;
}

.btn-row {
    margin-top: 5px;
}

/*--------------------------------------------------404.HTML--*/
.page-not-found h1 {
    font-size: 1.5rem;
    margin-top: 20px;
}

.page-not-found h3 {
    font-size: 1rem;
}

/*----------------------------------------------------COLORS--*/
.game-yellow {
    background-color: #FFE922;
}

.btn-blue {
    background-color: #09AEAE;
}

.btn-red {
    background-color: #CF1736;
}

.btn-green {
    background-color: #26A612;
}

.btn-orange {
    background-color: #C3750F;
}

.modal-bg {
    background-color: #392092bf;
}

/*--------------------------------------ACTIVE BUTTON COLORS--*/
.btn-red-active {
    position: relative;
    top: 4px;
    background: -o-radial-gradient(circle, #ff8a8a 10%, #ff4f6c 100%);
    background: radial-gradient(circle, #ff8a8a 10%, #ff4f6c 100%);
    -webkit-box-shadow: 0px 0px 11px 8px #ff4f6c;
    box-shadow: 0px 0px 11px 8px #ff4f6c;
}

.btn-green-active {
    position: relative;
    top: 4px;
    background: -o-radial-gradient(circle, #acff92 0%, #3bf71e 100%);
    background: radial-gradient(circle, #acff92 0%, #3bf71e 100%);
    -webkit-box-shadow: 0px 0px 11px 8px #3bf71e;
    box-shadow: 0px 0px 11px 8px #3bf71e;
}

.btn-orange-active {
    position: relative;
    top: 4px;
    background: -o-radial-gradient(circle, #ffd5a4 0%, #ffae00 100%);
    background: radial-gradient(circle, #ffd5a4 0%, #ffae00 100%);
    -webkit-box-shadow: 0px 0px 11px 8px #ff9012;
    box-shadow: 0px 0px 11px 8px #ff9012;
}

.btn-blue-active {
    position: relative;
    top: 4px;
    background: -o-radial-gradient(circle, #aeffff 0%, #00ffff 100%);
    background: radial-gradient(circle, #aeffff 0%, #00ffff 100%);
    -webkit-box-shadow: 0px 0px 11px 8px #00ffff;
    box-shadow: 0px 0px 11px 8px #00ffff;

}

/*--------------------------------------------CUSTOM SPACERS--*/
.h-22 {
    height: 22%;
}

.h-30 {
    height: 30%;
}

.h-33 {
    height: 33%;
}

/*---------------------------------------------MEDIA QUERIES--*/
@media (min-width: 440px) and (min-height: 640px){
    .general-container {
        max-width: 760px;
        min-height: 360px;
    }
    #welcome-to {
    font-size: 1rem;
    }
    #recommended {
        font-size: 0.7rem;
        top: 5px;
    }
    .logo {
        font-size: 1.6rem;
    }
    .tagline {
        font-size: 0.8rem;
    }
    .select-difficulty {
        margin: 10px 0;
    }
    .difficulty-btn {
        font-size: 0.8rem;
    }
    .difficulty-description {
        font-size: 0.9rem;
    }
    #game-logo {
        font-size: 2rem;
    }
    .level-screen {
        font-size: 1rem;  
    }
    .page-not-found h1 {
        font-size: 2rem;
    }
    .page-not-found h3, .page-not-found a {
        font-size: 1.5rem;
    }
}

@media (min-width: 440px) and (min-height:800px){
    .logo {
        font-size: 2rem;
    }
    .tagline {
        font-size: 1rem;
    }
    .option-btn {
        font-size: 1.2rem;
        min-width: 220px;
    }
    .select-difficulty {
        font-size: 1.2rem;
    }
    .difficulty-btn {
        font-size: 1.2rem;
    }
    .diff-menu-link {
        font-size: 1rem;
        width: 120px;
    }
    .menu-link, .start-btn {
        font-size: 1rem;
        height: 50px;
        padding: 0;
    }
}

@media (min-width: 576px) and (min-height: 750px){
    .general-container {
        min-height: 600px;
        min-width: 280px;
    }
    #welcome-to {
        font-size: 1.4rem;
        margin-top: 5px;
    }
   .logo {
        font-size: 3rem;
        margin-top: 5px;
    }
    .tagline {
        font-size: 1.5rem;
        margin-top: 10px;
    }
    #recommended {
        font-size: 0.8rem;
    }
    .option-btn, .difficulty-btn {
        font-size: 1.6rem;
        width: 280px;
    }
    .select-difficulty {
        font-size: 1.8rem;
    }
    .difficulty-description {
        font-size: 1.4rem;
    }
    .menu-link, .start-btn, .diff-menu-link{
        font-size: 1rem;
        padding: 16px 0;
        width: 120px;
        height: 60px;
    }
    #game-logo {
        font-size: 3.5rem;
        margin-top: 20px;
    }
    .level-screen {
        font-size: 1.5rem;  
    }
    .page-not-found h1 {
        font-size: 3rem;
    }
    .page-not-found h3, .page-not-found a {
        font-size: 2.5rem;
    }    
}

@media (min-height: 992px) and (min-width: 992px){
    .general-container {
        max-width: 900px;
    }
    #welcome-to {
        margin: 10px 0;
        font-size: 1.4rem;
    }
    .logo {
        font-size: 4rem;
        border: 8px solid black;
        margin: 10px 0;
    }
    .tagline {
        margin: 10px 0;
        font-size: 1.5rem;
    }
    .option-btn, .difficulty-btn {
        margin-top: 15px;
        font-size: 1.8rem;
        width: 320px;
    }
    #recommended {
        font-size: 1.2rem;
    }
}